<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.derek.collegerailroad">

    <permission
        android:name="com.example.derek.collegerailroad.permission.MAPS_RECEIVE"
        android:protectionLevel="normal" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".AddArticle"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".web"
            android:noHistory="true"
            android:label="Sign up"/>
        <activity android:name=".BookListActivity" />
        <activity android:name=".EditArticle" />

        <activity android:name=".BookListActivitySelf"
            android:launchMode="singleTask"/>

        <activity android:name=".CameraActivity"
            android:label="@string/title_activity_camera2"/>
        <activity android:name=".BookDisplayActivity" />
        <activity android:name=".SearchISBNActivity"
            android:label="@string/title_activity_search_isbn"/>
        <activity android:name=".TestSuccess" />
        <activity android:name=".HomeActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"/>
    </application>

</manifest>